
.products_components {
    border: solid white 3px;
    border-radius: 10px;
    background-color: rgb(187, 187, 187);
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

img {
   width: 75%;
   height: auto;
   object-fit: contain;
}

.products_price {
    color: rgb(1, 163, 1);
    font-size: 20px;
}

