.cardContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 40px;
}

.textAbout {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    border: solid white 3px;
    border-radius: 10px;
    font-size: 30px;
    margin: 20px;
    width: 300px;
    background-size: cover;
    background-position: center;
    height: 800px;
}
