.textAbout {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #1f3747;
    border: solid white 3px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    margin: 100px;
    width: 50%;
    justify-self: center;
}